@model GlobalProtestCalendar.Models.CultureSwitcherModel

<form id="culture-switcher" style="display: inline-block">
    <select name="culture" id="culture-options">
        @foreach (var culture in Model.SupportedCultures)
        {
            <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
        }
    </select>
</form>


<script>
    document.getElementById("culture-options").addEventListener("change", () => {
        document.getElementById("culture-switcher").submit();
    });
</script>