@page "/about"
@model GlobalProtestCalendar.Areas.SinglePages.Pages.About

<h1>This site exists because...</h1>

<p>In the months of August and September of 2020, several protests were organised throughout the world which were against the COVID-19 lockdowns. Peachful protests.
    
    Several organisers, <a href="https://reclaimthenet.org/forced-to-hand-over-laptop-and-phone-passwords-after-anti-lockdown-facebook-posts/">people attending</a> and some just <a href="https://www.news.com.au/world/coronavirus/australia/coronavirus-pregnant-victorian-woman-filmed-arrest/news-story/cdd5dd3ed140416489c1925e4e6aef8d">showing support</a>, were arrested with many having the doors to their homes smashed in and their homes invaded by police.</p>

<p>With the ever increasing level of censorship around the world from social media giants, politicians and police abusing thier powers, I wanted to create a site which offers people the ability to organise protests in a safe and anonomous way to organise and discuss protests or demonstrations without any fear from local or international authorities.</p>

<p>With Global Protest Calendar (GPC) you don't need to be afraid of the authorites finding you. In fact, even if we handed over all of the information in our database it would be impossible for anyone to make sense of the information.</p>

<p>See the <a asp-area="SinglePages" asp-page="Faq">FAQ for more details.</a></p>

