@page "/faq"
@model GlobalProtestCalendar.Areas.SinglePages.Pages.Faq

@section Head
{
    <style>
        .container h4 {
            margin-top:3rem;
        }
    </style>
}

<div class="container">

    <h4>Why does this site look so bad?</h4>

    <p>I created this website in my spare time to assit people wanting to protest without risk of being arrested by police, as what is happening in Melbourne Australia today.</p>

    <p>I'm not a designer and I don't have the time to make this site look like it was made by world-class designers, it's here to serve a purpose. If you want it to look better and would like to help out, email me at <a href="mailto: protonmail.com">@@protonmail.com</a>.</p>

    <h4>What's the difference between a standard account and an anonymous account?</h4>

    <p>
        The only real difference is the presence of an email address in our system. However, some people may not want their email address to be stored at all, which might be useful for residents of countries with a hostile government. However in most "sensible" countries
        with sane laws, the mere presence of an email address in the database system does not prove anything, nor does it show if you've organised or are attending a protest since the linking data is all encrypted.
    </p>
 
    @* <p>This website is my middle-finger to the authorities. It gives people a way to organise protests and remain completely anonymous. No doors will be broken down.</p> *@
    @* This has the added benefit of receiving email updates regarding the protest. If you want to receive email updates but don't want to use your real email address, try using a secure email service such as <a href="https://protonmail.com/">Protonmail</a> *@
    @* or <a href="https://tutanota.com/">tutanota.com</a> and create a one time account. Whatever you do, don't use Gmail, Yahoo! or Microsoft email services. They'll hand over your data to authorities at the drop of a hat.</p> *@

    <p>As it stands today this website does not send out any email notifiations, although, in the future there will be email notifications for certain types of events which might contain sensitive information, right now the website is very new and email notifications have not been implemented apart from the account creation emails. 
        
        Any email/notificaiton functionality I add in the future will be opt-in.
    </p>

    <h4>If I organise a protest or demonstration, how exactly are my details protected?</h4>

    <p>
        All data stored in the database with information relating to the creator of the protest or the atendeeds are encrypted so that not even I can see those details. Information relating to a protest is visible in plain text in the database,
        which allows people to find and view details, it's the "who did what" part which is encryped.

        It is impossible to know who organised a protest, who is attending or which users have posted messages in the protest channel.
    </p>

    <h4>Who holds the key which encrypts the data?</h4>

    <p>
        The encryption key is based off of a combination of the protest organisers password and a public/private key pair. Essentially, the organiser holds the encryption keys for any protests they have organised.
    </p>
    <p>
        The organisater is not unable to see who is attending, that link is also encrypted so only atendees know which protests they are attending. This allows the organiser to get an idea of the attendance and for ateneeds to post messages, images
        and support in the main channel.
    </p>

    <p>This is how it might typically look in a regular database set up where users are linked to other bits of information.</p>

    <img alt="Database diagram showing a typical set up" src="/img/gpc-faq-1.png"/>

    <p>The way we organise data here is similar, however, there's no direct link back to the original user. The link is a hash value based on the users internal ID, using their password and a peppered value which serves as the key for the hash function.</p>

    <img alt="Database diagram showing the GPC set up" src="/img/gpc-faq-2.png"/>

    <h4>If government authorities seek information regarding protest organisers or atenees, will you give them our information?</h4>

    <p>
        There's really nothing to give as there's no possible way users can be linked to anything on the site. But to answer your question, I would first exhaust all possible legal avenues and then if that fails, I would rather shut the site down than
        hand over any details, even in an encrypted form.
    </p>

    <h4>Do you keep logs of traffic coming into the server?</h4>

    <p>No. There are no logs of web traffic to this site. The only logs kept are application based logs which store information relating to a crash or bug encountered by a user.</p>

    <h4>Do you plan on releasing the source code?</h4>

    <p>Absolutly, if the site gains any traction at all then I'll gladly put the source code up.</p>
</div>