@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Models.Protest
@using Microsoft.AspNetCore.Localization
@model ProtestDetailsViewModel
@inject LocalizedCountryList LocalizedCountryList
@inject CommonLocalizationService localizer

@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Protest - " + Model.ProtestName;
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Head
{
    <link rel="stylesheet" href="~/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/protest.scss"/>
    <link rel="stylesheet" href="~/css/protest-details.scss"/>
}

@section Scripts
{
    <script src="~/js/protest-details.js"></script>
    <script>
        GPC.init(@(User.Identity.IsAuthenticated.ToString().ToLower()), '@(Model.Id.ToString())')
    </script>

    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: 'textarea',  // change this value according to your HTML
              plugins: 'emoticons paste',
              width: '100%',
              paste_data_images: false,
              paste_as_text: true,
              menubar: false,
              branding: false,
              toolbar: 'emoticons bold italic strikethrough',
              resize: 'both'
            });
            
            
        </script>
    }
}

<section id="hero" class="hero mb-3" title="@localizer.Get("Click to change image")" style="background-image: url('@(Model.CoverImageUrl)')"></section>

<div class="attend-buttons d-flex flex-md-row justify-content-md-end mb-3">
    @if (Model.IsOwner)
    {
        <button class="btn btn-primary" style="cursor: default;opacity: .5">@localizer.Get("Attending", "I am attending")</button>
    }
    else
    {
        <button id="attending" style="@(Model.IsAttending ? "" : "display: none")" class="btn btn-primary ajax-button">@localizer.Get("Attending", "I am attending")</button>
        <button id="attend" style="@(Model.IsAttending ? "display: none" : "")" class="btn btn-primary ajax-button">@localizer.Get("Attend")</button>
    }
</div>

<form class="text-center text-sm-left">
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="ProtestName"></label>
            <label class="form-control">@Model.ProtestName</label>
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="StartDate"></label>
            <label class="form-control">@Model.StartDate.ToShortDateString()</label>
        </div>
        <div class="form-group col-sm-2 text-center">
            <label asp-for="ConfirmedAttendees"></label>
            <label class="form-control" id="attendeeCount">@Model.ConfirmedAttendees</label>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Duration"></label>
            <label class="form-control">@Model.Duration</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="Country"></label>
            <label class="form-control">@LocalizedCountryList.GetCountryList(requestCulture)[Model.Country]</label>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Location"></label>
            <label class="form-control">@Model.Location</label>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="LocationDetails"></label>
            <label class="form-control">@Model.LocationDetails</label>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Motivation"></label>
        <div class="clearfix"></div>
        @if (Model.Motivation.Contains(Motivation.Political))
        {
            <span class="badge badge-primary">Political</span>
        }
        @if (Model.Motivation.Contains(Motivation.Corruption))
        {
            <span class="badge badge-primary">Corruption</span>
        }
        @if (Model.Motivation.Contains(Motivation.Economic))
        {
            <span class="badge badge-primary">Economic</span>
        }
    </div>
    <div class="form-group">
        <label asp-for="ProtestDescription"></label>
        <label class="form-control">@Model.ProtestDescription</label>
    </div>

    <div class="form-group">
        <label asp-for="ExpectedOutcome"></label>
        <label class="form-control">@Model.ExpectedOutcome</label>
    </div>
</form>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col">

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Comments" asp-action="Index" class="mb-3">
                    <div id="new-comments" class="bg-light p-2" data-parent="#myGroup">
                        <div class="d-flex flex-row align-items-start">
                            <img class="rounded-circle d-none d-md-inline mr-md-2" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                            <textarea class="form-control ml-1 shadow-none textarea"></textarea>
                        </div>
                        <div class="mt-2 text-right">
                            <label>@localizer.Get("KnownAs", "Known as")</label>
                            <input type="text" placeholder="@localizer.Get("ProtestNickname", "Your nickname")" />
                            <button class="btn btn-primary btn-sm shadow-none" type="button">@localizer.Get("PostComment", "Post Comment")</button>
                        </div>
                        <span>@localizer.Get("NickNameTip", "Your nickname is how you are known in this protest only. This cannot be changed after your first comment")</span>
                    </div>
                </form>
            }

            <div class="d-flex flex-column comment-section" id="myGroup">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2">
                            <span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Jan 2020</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="bg-white p-2">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor">
                            <i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
                        </div>
                        <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1">
                            <i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span>
                        </div>
                        <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2">
                            <i class="fa fa-share"></i><span class="ml-1">Share</span>
                        </div>
                    </div>
                </div>
                <div id="collapse-1" class="bg-light p-2 collapse" data-parent="#myGroup">
                    <div class="d-flex flex-row align-items-start">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea>
                    </div>
                    <div class="mt-2 text-right">
                        <button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
                    </div>
                </div>
                <div id="collapse-2" class="bg-light p-2 collapse" data-parent="#myGroup">
                    <div class="d-flex flex-row align-items-start">
                        <i class="fa fa-facebook border p-3 rounded mr-1"></i><i class="fa fa-twitter border p-3 rounded mr-1"></i><i class="fa fa-linkedin border p-3 rounded mr-1"></i><i class="fa fa-instagram border p-3 rounded mr-1"></i><i class="fa fa-dribbble border p-3 rounded mr-1"></i> <i class="fa fa-pinterest-p border p-3 rounded mr-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>