@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Models.Protest
@using Microsoft.AspNetCore.Localization
@using GlobalProtestCalendar.Business
@model IList<ProtestListItem>
@inject LocalizedCountryList LocalizedCountryList

@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Protest Listing";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Country</th>
        <th scope="col">Protest Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Expected Outcome</th>
        <th scope="col">Motivation</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var protest in Model)
    {
        <tr class="protest-row" onclick="window.location ='/protests/@(UrlExtensions.CreateProtestDetailSlug(protest.Name, protest.Id))';" title="@protest.Description">
            <th scope="row">@LocalizedCountryList.GetCountryList(requestCulture)[protest.Country]</th>
            <td>@protest.Name</td>
            <td>@protest.StartDate</td>
            <td title="@protest.ExpectedOutcome">@protest.ExpectedOutcome</td>
            <td>
                @if (protest.Motivation.HasFlag(Motivation.Political))
                {
                    <span class="badge badge-primary">Political</span>
                }
                @if (protest.Motivation.HasFlag(Motivation.Corruption))
                {
                    <span class="badge badge-primary">Corruption</span>
                }
                @if (protest.Motivation.HasFlag(Motivation.Economic))
                {
                    <span class="badge badge-primary">Economic</span>
                }
            </td>
            <td>@protest.Duration</td>
            <td>
                <a asp-action="Edit" asp-controller="Protests" asp-route-id="@protest.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
