@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Models.Protest
@using Microsoft.AspNetCore.Localization
@model GlobalProtestCalendar.Models.Protest.NewProtestModel
@inject CommonLocalizationService localizer
@inject LocalizedCountryList LocalizedCountryList

@{
    Layout = "_LayoutInner";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<section id="hero" class="hero mb-5" title="@localizer.Get("Click to change image")" style="background-image: url('@(Model.CoverImageUrl)')"></section>

<form asp-controller="Protests" asp-action="New" enctype="multipart/form-data">

    <partial name="Shared/_Edit" model="Model" />
    
    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

@section Head
{
    <link rel="stylesheet" href="~/css/protest.scss"/>
    <link rel="stylesheet" href="~/css/edit-protest.scss"/>
}

@section Scripts
{
    <partial name="_validationscriptspartial"/>

    <script>
       function showImage(src,target) {
         var fr=new FileReader();
         // when image is loaded, set the src of the image where you want to display it
         fr.onload = function(e) { 
             target.style.backgroundImage = 'url(' + this.result + ')';
         };
         src.addEventListener("change",function() {
           // fill fr with image data    
           fr.readAsDataURL(src.files[0]);
         });
       }

       var src = document.getElementById("CoverImage");
       var target = document.getElementById("hero");
       showImage(src,target);
       
       $('#hero').on('click', function() {
          src.click();
       });
       
       $('.cover-image-upload').css('opacity', 0).css('height', '1px');
       
       $('form').on('click', 'input[type=checkbox]', function(e){
           
           var c = $(e.target);
           console.log(c.is(':checked'))
           
           if (!c.is(':checked')) {
               if (!$('input[type=checkbox]').is(':checked')) {
                   setTimeout(function() {
                        c.click();
                   }, 50);
               }
           }
       })
    </script>
}