ul.account-features {
  list-style: none;

  li:before {
    font-weight: bolder;
    margin-right: 10px;
  }
  
  li.not-supported:before {
    content: '\2718\0020';
    color: red;
  }
  
  li.supported:before {
    content: '\2714\0020';
    color: green;
  }
}

