﻿@inject CommonLocalizationService localizer
@inject LocalizedCountryList LocalizedCountryList
@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Models.Protest
@using Microsoft.AspNetCore.Localization
@using GlobalProtestCalendar.Business
@model IList<GlobalProtestCalendar.Models.Protest.ProtestListItem>

@{
    ViewData["Title"] = "Home page";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    Layout = "_LayoutWide";
}
@section Head {
    <link rel="stylesheet" href="~/css/home.scss" />
}

<section style="background-image: url(/img/new-protest.jpeg);
                    height: 544px;
                    background-position: center;
                    width: 100%;
                    display: flex">
    <h1 class="p-5 rounded" style="color: black;
                   display: table;
                   margin: auto;
                   background-color: white;
                   display: table;">@localizer.Get("SiteName", "Global Protest Calendar")</h1>
</section>

<table class="table table-striped protest-list">
    <thead>
    <tr>
        <th scope="col">@localizer.Get("Country")</th>
        <th scope="col">@localizer.Get("Name")</th>
        <th scope="col" class="d-none d-md-table-cell">@localizer.Get("StartDate", "Start Date")</th>
        <th class="d-none d-md-table-cell" scope="col">@localizer.Get("ExpectedOutcome", "Expected Outcome")</th>
        <th scope="col">@localizer.Get("Motivation")</th>
        <th class="d-none d-md-block" scope="col">@localizer.Get("Duration")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var protest in Model)
    {
        <tr class="protest-row" onclick="window.location ='/protests/@(UrlExtensions.CreateProtestDetailSlug(protest.Name, protest.Id))';" title="@protest.Description">
            <th scope="row">@LocalizedCountryList.GetCountryList(requestCulture)[protest.Country]</th>
            <td>@protest.Name</td>
            <td class="d-none d-md-table-cell">@protest.StartDate</td>
            <td class="d-none d-md-table-cell" title="@protest.ExpectedOutcome">@protest.ExpectedOutcome</td>
            <td>
                @if (protest.Motivation.HasFlag(Motivation.Political))
                {
                    <span class="badge badge-primary">Political</span>
                }
                @if (protest.Motivation.HasFlag(Motivation.Corruption))
                {
                    <span class="badge badge-primary">Corruption</span>
                }
                @if (protest.Motivation.HasFlag(Motivation.Economic))
                {
                    <span class="badge badge-primary">Economic</span>
                }
            </td>
            <td class="d-none d-md-block">@protest.Duration</td>
        </tr>
    }
    </tbody>
</table>


@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*   *@
@*     <table class="table culture-table"> *@
@*         <tr> *@
@*             <td style="width:50%;">Culture</td> *@
@*             <td>@requestCulture.Culture.DisplayName {@requestCulture.Culture.Name}</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>UI Culture</td> *@
@*             <td>@requestCulture.UICulture.Name</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>UICulture Parent</td> *@
@*             <td>@requestCulture.UICulture.Parent</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Date</td> *@
@*             <td>@DateTime.Now.ToShortDateString()</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Currency</td> *@
@*             <td> *@
@*                 @(12345.00.ToString("c")) *@
@*             </td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td>Number</td> *@
@*             <td> *@
@*                 @(123.45m.ToString("F2")) *@
@*             </td> *@
@*         </tr> *@
@*     </table> *@
@* </div> *@