@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Models.Protest
@using Microsoft.AspNetCore.Localization
@model GlobalProtestCalendar.Models.Protest.NewProtestModel
@inject CommonLocalizationService Localizer
@inject LocalizedCountryList LocalizedCountryList

@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="form-group">
    <label asp-for="ProtestName"></label>
    <input type="text" class="form-control col-md-6" asp-for="ProtestName" placeholder="@Localizer.Get("ProtestNamePlaceholder", "i.e. Violence against women protests")">
    <span asp-validation-for="ProtestName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ProtestDescription"></label>
    <textarea type="text" aria-describedby="descriptionHelp" class="form-control col-md-7" asp-for="ProtestDescription"></textarea>
    <small id="descriptionHelp" class="form-text text-muted">@Localizer.Get("ProtestDescriptionPlaceholder")</small>
    <span asp-validation-for="ProtestDescription" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Country"></label>
    <select class="form-control col-md-5" asp-for="Country">
        @foreach (var country in LocalizedCountryList.GetCountryList(requestCulture))
        {
            <option value="@country.Key">@country.Value</option>
        }
    </select>
    <span asp-validation-for="Country" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Location"></label>
    <input type="text" class="form-control col-md-5" asp-for="Location" placeholder="@Localizer.Get("LocationPlaceholder", "i.e. Sydney, New South Wales")">
    <span asp-validation-for="Location" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LocationDetails"></label>
    <input type="text" class="form-control col-md-5" asp-for="LocationDetails" placeholder="@Localizer.Get("LocationDetailsPlaceholder", "i.e. 123 Meet Street, near town hall steps")">
    <span asp-validation-for="LocationDetails" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="StartDate"></label>
    <input type="date" lang="en-US" class="form-control col-md-5" asp-for="StartDate">
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Duration"></label>
    <input type="text" class="form-control col-md-5" asp-for="Duration" placeholder="@Localizer.Get("DurationPlaceholder", "i.e. From 12pm to 3pm, Every week until there is change!.")">
    <span asp-validation-for="Duration" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExpectedOutcome"></label>
    <input type="text" class="form-control col-md-5" asp-for="ExpectedOutcome" placeholder="@Localizer.Get("ExpectedOutcomePlaceholder", "i.e. A change in federal law governing convicted offenders")">
    <span asp-validation-for="ExpectedOutcome" class="text-danger"></span>
</div>

<div class="form-group cover-image-upload">
    <label asp-for="CoverImage"></label>
    <div class="clearfix"></div>
    <div class="custom-file col-md-5">
        <input type="file" class="custom-file-input" asp-for="CoverImage" accept="image/*">
        <label class="custom-file-label" for="validatedCustomFile">@Localizer.Get("Choose file")</label>
    </div>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" name="Motivation" id="check-political" value="@Motivation.Political" @(Model.Motivation.Contains(Motivation.Political) ? "checked='checked'" : "")>
    <label class="form-check-label" for="check-political">
        @Localizer.Get("Political")
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="Motivation" id="check-economic" value="@Motivation.Economic" @(Model.Motivation.Contains(Motivation.Economic) ? "checked='checked'" : "")>
    <label class="form-check-label" for="check-economic">
        @Localizer.Get("Economic")
    </label>
</div>
<div class="form-check disabled">
    <input class="form-check-input" type="checkbox" name="Motivation" id="check-corruption" value="@Motivation.Corruption" @(Model.Motivation.Contains(Motivation.Corruption) ? "checked='checked'" : "")>
    <label class="form-check-label" for="check-corruption">
        @Localizer.Get("Corruption")
    </label>
</div>
<span asp-validation-for="Motivation" class="text-danger"></span>