@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Head
{
    @RenderSection("Head", required: false)
}

<div class="container">
    <main role="main" class="pb-3 mt-3">
        @RenderBody()
    </main>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}