﻿@using Microsoft.AspNetCore.Identity
@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Code
@inject SignInManager<Data.AppUser> SignInManager
@inject UserManager<Data.AppUser> UserManager
@inject CommonLocalizationService localizer

@{
    var user = await UserManager.FindByIdAsync(User.GetUserId());
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Protests" asp-action="New" title="@localizer.Get("Organise Protest")">@localizer.Get("Organise Protest")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/protests" title="@localizer.Get("My Protests")">@localizer.Get("My Protests")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="@localizer.Get("Profile")">@localizer.Get("Profile")</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-dark">@localizer.Get("Logout")</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@localizer.Get("Register")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@localizer.Get("Login")</a>
        </li>
    }
</ul>