﻿@page
@using GlobalProtestCalendar.Business.Services
@model ConfirmEmailModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = "Confirm email";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<a href="/">@localizer.Get("EmailConfirmedLoginMessage", "Return to the homepage")</a>
