﻿@page
@using GlobalProtestCalendar.Business.Services
@using GlobalProtestCalendar.Business
@model RegisterModel
@inject CommonLocalizationService Localized

@{
    ViewData["Title"] = Localized.Get("Register");
}

@section Head {
    <link rel="stylesheet" href="~/css/register.scss"/>
}


<h1 class="mt-3 mb-3">@ViewData["Title"]</h1>

<p>@Localized.Get("RegisterStandardDesc1", "Account Features")</p>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <ul class="account-features">
        @* <li class="supported email-reset">@Localized.Get("RegisterStandardFeature1", "Able to receive emails when attendees join or post messages.")</li> *@
        <li class="supported">@Localized.Get("RegisterStandardFeature3", "Organise protests without any links back to your account.")</li>
        <li class="supported">@Localized.Get("RegisterStandardFeature4", "Attend protests without any information linking you to the protest or your attendance.")</li>
        <li class="supported">@Localized.Get("RegisterStandardFeature5", "Post messages in the protest channel.")</li>
        <li class="supported">@Localized.Get("RegisterStandardFeature6", "No logging of web traffic to our servers.")</li>
        <li class="not-supported comp-anon">@Localized.Get("RegisterAnonymousFeature1", "Complete anonymity through the use of a username.")</li>
        <li class="supported email-reset">@Localized.Get("RegisterStandardFeature2", "Ability to reset your password.")</li>
    </ul>
    <hr/>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Input.AccountType" asp-for="Input.AccountType" id="AccountType@(AccountType.Standard)" value="0" checked="checked">
            <label class="form-check-label" for="AccountType@(AccountType.Standard)">@Localized.Get("Standard Account")</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Input.AccountType" asp-for="Input.AccountType" id="AccountType@(AccountType.Anonymous)" value="1">
            <label class="form-check-label" for="AccountType@(AccountType.Anonymous)">@Localized.Get("Anonymous Account")</label>
        </div>
    </div>
    <div class="form-group email @(Model.Input.AccountType == AccountType.Standard ? "" : "hidden")">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control col-sm-6 col-md-4"/>
        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
    </div>
    <div class="form-group username @(Model.Input.AccountType == AccountType.Anonymous ? "" : "hidden")">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control col-sm-6 col-md-4" />
        <span asp-validation-for="Input.Username" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.DisplayName">@Localized.Get("DisplayName")</label>
        <input asp-for="Input.DisplayName" class="form-control col-sm-6 col-md-4"/>
        <small class="form-text text-muted">@Localized.Get("DisplayNameHint")</small>
        <span asp-validation-for="Input.DisplayName" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control col-sm-6"/>
        <small id="emailHelp" class="form-text text-muted">@Localized.Get("PassphraseHint")</small>
        <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control col-sm-6"/>
        <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/register.js"></script>
}